.biggerImage {
  height: 200px;
  margin: 0.3rem auto;
  padding: 0.8rem;
  max-width: 100%;
}

.singleMovie {
  padding: 0.8rem;
}

.otherDetails {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  padding: 0.8rem;
}

.film {
  padding: 0.8rem 0;
  box-shadow: 3px 3px 6px rgba(150, 151, 152, 0.47);
}

.info-poster {
  background: radial-gradient(circle at top left, rgba(66, 65, 63, 0.833), rgba(26, 23, 20, 0.675));
  box-shadow: 3px 3px 6px rgba(150, 151, 152, 0.47);
}

.addMovieBtn {
  margin: 0.5rem auto;
  background: linear-gradient(to bottom, rgb(43, 181, 142) 0%, rgb(7, 84, 57) 52%, rgb(8, 86, 61) 54%, rgb(13, 105, 66) 70%, rgb(43, 181, 132) 100%);
  color: #fff;
}

.loginInfo {
  color: crimson;
}

.messageWrapper {
  height: 30px;
  padding: 0;
  /* align-self: center; */
}

.message {
  font-size: 0.8rem;
  color: rgb(207, 117, 132);
  transition-timing-function: ease-in-out;
}

.handIcon {
  display: inline-block;
  font-size: 1rem;
}

@keyframes drop {
  from {
    margin-top: -1000px;
  }

  to {
    margin-top: 0;
  }
}

@media(min-width: 768px) {
  .info-poster {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .addMovieBtn {
    margin-top: 1.2rem;
  }

  .singleMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }

  .message {
    font-size: 1rem;
  }

  .biggerImage:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    filter: sepia(50%);
  }
}

@media(min-width: 992px) {
  .biggerImage {
    height: 250px;
  }
}